[Desktop Entry]
Version=1.0
Type=Application
Name=FlashDash
GenericName=FTP/TFTP Server
Comment=Simple FTP/TFTP server for network engineers
Exec=flashdash
Icon=flashdash
Terminal=false
Categories=Network;FileTransfer;Internet;
Keywords=ftp;tftp;server;file;transfer;network;
StartupNotify=true
